.container-principal {
  .container-numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .number {
      background-color: #e3e3e3;
      width: 35px;
      height: 35px;
      margin: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .container-inputs {
    margin: 20px 0px;
    align-items: center;
    flex-direction: column;
    display: flex;
    .group-input {
      .sub-contain {
        display: flex;
        .content {
          background-color: #c1c1c1;
          font-size: 20px;
          padding: 5px;
          cursor: pointer;
          border-radius: 5px 0px 0px 5px;
        }
        input {
          border-color: #c1c1c1;
          border-left: none;
          border-radius: 0px 5px 5px 0px;
        }
      }
      .errors {
        display: flex;
        flex-direction: column;
        .mensaje-error {
          color: #de1414;
        }
      }
    }
  }
}
.container-tot {
  .total {
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-content-jugar {
    text-align: center;
    button {
      width: 50%;
      padding: 10px;
      color: #ffffff;
      border-radius: 5px;
      background-color: #3d8bfd;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        transition: background-color 0.3s;
        background-color: #0a58ca;
      }
    }
    @media screen and (min-width: 768px) {
      button {
        width: 100%;
      }
    }
    .btn-jugar[disabled] {
      cursor: no-drop;
      opacity: 0.7;
    }
  }
}
