<div class="container-principal">

  <div class="container-numbers">

    <div [ngStyle]="{'background-color': it.color !== '' ? it.color : '#e3e3e3'}" class="number"
      *ngFor="let it of maxNumber; let pos = index;">
      <span>{{ it.numero > 0 ? it.numero : '' }}</span>
    </div>

  </div>

  <div class="container-inputs">

    <div class="group-input">
      <form [formGroup]="formulario">
        <div class="sub-contain">
          <div class="content" (click)="multiplicarValor(true)">
            {{ numMultiplicar }}x
          </div>
          <input formControlName="valorApostar" type="text">
        </div>
        <div class="errors">
          <em class="mensaje-error" *ngIf="validarError() && formulario.get('valorApostar')?.hasError('required')">
            Este campo es requerido
          </em>
          <em class="mensaje-error" *ngIf="validarError() && formulario.get('valorApostar')?.hasError('pattern')">
            Solo valores númericos
          </em>
          <em class="mensaje-error" *ngIf="validarError() && formulario.get('valorApostar')?.hasError('min')">
            Solo valores mayores o iguales a 5
          </em>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="container-tot">
  <div class="total">
    <h2>Total: {{ apostarSvc.valorApostar }}€</h2>
  </div>

  <div class="btn-content-jugar">
    <button [disabled]="(formulario.invalid || !apostarSvc.numerosApostar.length) || (apostarSvc.ganador.length)"
      (click)="jugar()" class="btn-jugar">
      Jugar
    </button>
  </div>

</div>