.container-principal {
  .container-numbers {
    display: flex;
    justify-content: center;
    .number {
      background-color: #e3e3e3;
      width: 30px;
      height: 30px;
      margin: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .container-inputs {
    margin: 40px 0px;
    align-items: center;
    flex-direction: column;
    display: flex;
    .group-input {
      .sub-contain {
      display: flex;
        .content {
          background-color: #8f8f8f;
          font-size: 20px;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
    .message-invalid {
      color: #de1414;
    }
  }
}
.container-tot {
  .total {
    text-align: center;
    font-size: 18px;
  }
  .btn-jugar {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #339de9;
    border: none;
  }
}